.vott-container{
  .setVottContainer();
}
.vott-svg{
  width:100%;
  height:100%;
}
.vott-shape{
  fill: #12d13b;
  stroke-width:1;
  stroke:#089927;
  &.active{
    fill:#ff6666;
    stroke-width:1;
    stroke:rgb(255,0,0)
  }
}
