.vott-container{
  .setVottContainer();
}
.vott-svg{
  width:100%;
  height:100%;
  background-color: white;
}
.vott-shape{
  fill: #12d13b;
  stroke-width:1;
  stroke:#089927;
  &.active{
    fill:#ff6666;
    stroke-width:1;
    stroke:rgb(255,0,0)
  }
}
.vott-shape-xMinYMin, .vott-shape-xMinYMid, .vott-shape-xMinYMax, .vott-shape-xMidYMin, .vott-shape-xMidYMax, .vott-shape-xMaxYMin, .vott-shape-xMaxYMid, .vott-shape-xMaxYMax{
  stroke-width:1;
  stroke: #000000;
}
// 左上
.vott-shape-xMinYMin{
  
}
// 左中
.vott-shape-xMinYMid{

}
// 左下
.vott-shape-xMinYMax{

}
// 中上
.vott-shape-xMidYMin{

}
// 中下
.vott-shape-xMidYMax{

}
// 右上
.vott-shape-xMaxYMin{

}
// 右中
.vott-shape-xMaxYMid{

}
// 右下
.vott-shape-xMaxYMax{
  
}